<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left:auto;
  margin-right:auto; 
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Equipment Master Details</h2>

<table>
  <tr>
    <th>Plant</th>
    <th>Section</th>
    <th>Location</th>
    <th>Equipment No.</th>
    <th>Equipment Desc.</th>
    <th>Equipment Type</th>
    <th>Range</th>
    <th>Accuracy</th>
    <th>Frequency</th>
    <th>Last Date</th>
    <th>Due Date</th>
    <th>Intimadation Days</th>
    <th>Status</th>
    <th>Remarks</th>
  </tr>
 {{{display}}}
  
  
</table>

</body>
</html>
