<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add new equipment details</title>
</head>
<style>
  *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: 	#F5F5F5;
  }
  .header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    height: 50px;;
    color: #fff;
    text-align: center;
    padding: 2% 0;
    background: linear-gradient(-135deg, #808080, #000000);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0 100px 0;
    
  }
  form{
    margin: 10% 0 10%;
  }
  input{
    margin-left: 10%;
  }
  input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type=text]:focus {
  background-color: lightblue;
}
input[type=varchar] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type=varchar]:focus {
  background-color: lightblue;
}
input[type=date] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type=date]:focus {
  background-color: lightblue;
}
label{
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
</style>

<body>
  <h1 class="header">Add new equipment details</h1>
  <form action="/in" method="POST">
    <label for="name" >Plant:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="section">Section:</label><br>
    <input type="text" id="section" name="section"><br>

    <label for="location">Location of use:</label><br>
    <input type="text" id="location" name="location"><br>

    <label for="equip_no">Equipment No::</label><br>
    <input type="varchar" id="equip_no" name="equip_no"><br>

    <label for="equip_des">Address:</label><br>
    <input type="varchar" id="equip_des" name="equip_des"><br>

    <label for="equip_type">Equipment Type:</label><br>
    <input type="varchar" id="equip_type" name="equip_type"><br>

    <label for="range">Range:</label><br>
    <input type="varchar" id="range" name="range"><br>

    <label for="accuracy">Accuracy:</label><br>
    <input type="varchar" id="accuracy" name="accuracy"><br>
    
    <label for="frequency">Equipment Type:</label><br>
    <input type="varchar" id="frequency" name="frequency"><br>

    <label for="lastdate">Last Calibration Done On:</label><br>
    <input type="date" id="lastdate" name="lastdate"><br>
   
    <label for="duedate">Due Date:</label><br>
    <input type="date" id="duedate" name="duedate"><br>
    
    <label for="intidays">Intimation Days:</label><br>
    <input type="varchar" id="intidays" name="intidays"><br>
  
    <label for="status">Status:</label><br>
    <input type="text" id="status" name="status"><br>
    
    <label for="remarks">Remarks:</label><br>
    <input type="text" id="remarks" name="remarks"><br>

    <p>Click on Submit to record your response</p>

    <br> <button type="submit" name="button">Submit</button>

  </form>
  <table>
 
  </table>
</body>

</html>